{% extends "base.html" %}
{% block content %}

<!-- NAVBAR-->
<!--===============================================================-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <a class="navbar-brand navbar-brand-blog" data-scroll href="/index.html"><img src="{% static '/images/logo.png' %}" style="max-height: 60px; max-width: 60px;" alt="logo"></a>
      </div>

      <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a data-scroll href="/#portfolio">Portfolio</a></li>
          <li><a data-scroll href="/#cv">CV</a></li>
					<li><a data-scroll href="/#skills">Skills</a></li>
					<li><a data-scroll href="/blog.html">Blog</a></li>
					<li><a data-scroll href="/#contact"><span class="contact">Contact</span></a></li>
				</ul>
			</div>
		</div>
    </div>

  </div>
</div>


<!-- INTRO-->
<!--===============================================================-->
<div class="bg-intro-blog" id="home">
  <div class="layer-intro-blog">
  </div>
</div>

<!-- BLOG-->
<!--===============================================================-->
<div class="bg-post">
  <div class="container">

    <div class="row row-blog">
      <div class="col-md-8 col-md-offset-2 wrapper-blog">

  			{% for post in posts %}
        <div class="row">
          <div class="col-sm-12">
            <a href="/{{ post.path }}"><h1 class="title-post">{{ post.title }}</h1></a>
            <p class="small author"><span class="green">{{ post.date|date:"M j Y" }}</span></p>
            <p>
              {{ post.headline }}
            </p>
            <a href="/{{ post.path }}" class="btn btn-default">Read More</a>
            <hr>
          </div>
        </div>
  			{% endfor %}

      </div>
    </div>
  </div>
</div>

<!-- FOOTER-->
<!--===============================================================-->
<div class="bg-footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <a href="https://github.com/geek"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/wpreul"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/nodejs"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER-BOTTOM-->
<!--===============================================================-->
<div class="bg-footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="copyright"></p>
      </div>
      <div class="col-sm-6">
        <ul class="list-inline pull-right">
          <li class="border-right"><a href="#home" data-scroll>Top</a></li>
          <li class="border-right"><a href="/#portfolio" data-scroll>Portfolio</a></li>
          <li class="border-right"><a href="/#cv" data-scroll>CV</a></li>
          <li class="border-right"><a href="/#skills" data-scroll>Skills</a></li>
          <li class="border-right"><a href="/#contact" data-scroll>Contact</a></li>
          <li><a href="/blog.html">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
